- title t('.title')

- if can? :new, Game
  %p.nav= link_to t('.new_game'), new_game_path, class: 'new'

- if @games.limit(1).size > 0
  %table
    %thead
      %tr
        %th= Game.human_attribute_name :created_at
        %th= Game.human_attribute_name :state
        %th{colspan: 2}= t 'actions'

    %tbody
      - @games.each do |game|
        %tr{class: cycle(:odd, :even)}
          %td= game.created_at
          %td= game.state
          %td.action
            - if can? :show, game
              = link_to t('show'), game, class: 'show'
          %td.action
            - if can? :destroy, game
              = link_to t('destroy'), game,
                data: {confirm: t('.confirm', default: 'Are you sure?')},
                method: :delete, remote: true, class: 'destroy'
- else
  .empty
    = t '.empty'
